@colorBackground: #b5cfd0;
@colorBase: darken(@colorBackground, 40%);
@colorSecondary: #ffc253;
@colorTertiary: #e5f1f1;

.border-radius (@radius: 0.5em) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

html {
	height: 100%;
}

body {
	background: @colorBackground;
	color: @colorBase;
	height: 100%;
}

a {
	color: darken(@colorSecondary, 25%);
	text-decoration: none;
	
	&:focus,
	&:hover {
		color: darken(@colorSecondary, 35%);
		text-decoration: underline;
	}
}

.outer_container {
	background: url(img/background.png) center bottom no-repeat;
	padding: 1.5em 0 55em 0;
}

.container {
	background: fadeout(lighten(@colorTertiary, 10%), 30%);
	.border-radius();
}

footer {
	position: fixed;
	bottom: 1.5em;
	font-size: .9em;
	text-align: center;
}
