@colorBackground: #b5cfd0;
@colorBase: darken(@colorBackground, 40%);
@colorSecondary: #ffc253;
@colorTertiary: #e5f1f1;

/**
 * Modular Scale
 * 16px @ 1:1.618
 * 
 * http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0
 * 
 * 4.236
 * 2.618
 * 1.618
 * 1
 * 0.618
 */

.border-radius (@radius: 0.5em) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

html {
	height: 100%;
}

body {
	font: 16px/1.5 'Convergence', cursive;
	background: @colorBackground;
	font-variant-ligatures: common-ligatures;
	color: @colorBase;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montez', cursive;
	margin: .5em 0;
}

h1 {
	font-size: 4.236em;
	text-align: center;
}

h2 {
	font-size: 2.618em;
}

h3 {
	font-size: 1.618em;
}

h4 {
	font-size: 1em;
}

p {
	margin-bottom: 1em;
}

a {
	color: darken(@colorSecondary, 25%);
	text-decoration: none;
	
	&:focus,
	&:hover {
		color: darken(@colorSecondary, 35%);
		text-decoration: underline;
	}
}

input {
	padding: .25em;
	background: fadeout(@colorSecondary, 75%);
	.border-radius(.35em);
	font: 16px/1.5 'Convergence', cursive;
	border: 1px dotted @colorSecondary;
}

.outer_container {
	background: url(img/background.png) center bottom no-repeat;
	padding: 1.5em 0 45em 0;
}

.container {
	background: fadeout(lighten(@colorTertiary, 10%), 30%);
	.border-radius();
}

.loan {
	margin-bottom: 1em;
	padding: .5em;
	.border-radius();
	
	input {
		width: 5.5em;
		
		&.small {
			width: 3.25em;
		}
	}
	
	&:nth-of-type(2n+1) {
		background: fadeout(lighten(@colorTertiary, 10%), 30%);
	}
}

footer {
	position: fixed;
	bottom: 1.5em;
	font-size: 0.618em;
	text-align: center;
}
