<!-- <template id="debt-template"> -->
  <div class="debt" data-currency="{{doc.currency}}">
    <div class="debt_item">
      <span class="currency"></span>
      <label>
        <input name="principal" placeholder="{{_('Principal Balance')}}" />
        {{_('Borrowed')}}
      </label>
    </div>
    <div class="debt_item">
      <label>
        <input name="rate" placeholder="{{_('Interest Rate')}}" />%
        {{_('Interest Rate')}}
      </label>
    </div>
    <div class="debt_item">
      <span class="currency"></span>
      <label>
        <input name="principal" placeholder="{{_('Minimum Payment')}}" />
        {{_('Minimum Payment')}}
      </label>
    </div>
  </div>
<!-- </template> -->

<div class="debts"></div>
<div class="debts__add">{{_('Add another debt')}}</div>
