@import '../../source/sass/common/config'
@import '../../source/sass/mixins/card'

.debt__list
  +md
    align-items: flex-start
    display: flex
    flex-flow: row
    flex-wrap: wrap
    justify-content: space-around

.debt__item
  +card
  margin: 0 $pad $pad $pad
  flex-grow: 1

.debt__input
  margin: $pad/2 0

  input[name="principal"]
    width: 12em

  input[name="rate"]
    width: 5em

  input[name="min_payment"]
    width: 12em

.debt__add
  background: $color-secondary
  margin: $pad

  a
    color: $color-on-secondary
    display: block
    padding: $pad
    text-decoration: none
