<!-- <template id="debt-template"> -->
  <div class="debt" data-format="{{0 | currency(currency=doc.currency)}}">
    {{partial.class}}
    <div class="debt_item">
      <span class="currency"></span>
      <label>
        <input name="principal" placeholder="{{1000 | decimal}}" />
        {{_('borrowed')}}
      </label>
    </div>
    <div class="debt_item">
      <label>
        <input name="rate" placeholder="{{10 | decimal}}" />%
        {{_('interest rate')}}
      </label>
    </div>
    <div class="debt_item">
      <span class="currency"></span>
      <label>
        <input name="principal" placeholder="{{100 | decimal}}" />
        {{_('minimum payment')}}
      </label>
    </div>
  </div>
<!-- </template> -->

<div class="debts"></div>
<div class="debts__add">{{_('Add another debt')}}</div>
