$color-black: #000000
$color-white: #ffffff

$color-primary: #ef9c2f
$color-primary-light: #ffcd60
$color-primary-dark: #b76e00
$color-on-primary: #000000
$color-secondary: #a1bfbf
$color-secondary-light: #d2f2f2
$color-secondary-dark: #728f8f
$color-on-secondary: #000000

$pad: 1em

$contained-width: 900px

$shadow: 0 1px 1.5px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.24)

$font-family: 'Helvetia Neue', arial, sans-serif
$line-height: 18px
