<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Simple snowball debt calculator for illustrating faster debt repayment." />
	
	<title>Yeti: Start a Snowball Fight!</title>
	
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Convergence|Montez' type='text/css' />
	<link rel="stylesheet" href="style/reset.css" type='text/css' />
	<link rel="stylesheet" href="style/text.css" type='text/css' />
	<link rel="stylesheet" href="style/960.css" type='text/css' />
	<link rel="stylesheet/less" href="style/master.less" type="text/css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<script src="script/less.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="outer_container">
		<div class="container container_12">
			<section id="content">
				<div class="grid_12">
					<h1>{{ page.title }}</h1>
				</div>
				
				{{ content }}
			</section>
			
			<footer>
				<div class="grid_12">
					<div class="text-center">
						<div class="g-plusone" data-size="medium"></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
					</div>
					
					<p>
						All numbers shown are for illustration purposes only.
						If you want <strong><em>real</em></strong> financial advice, see a certified financial planner.
					</p>
					
					<p>
						Powered by <a href="https://github.com/emberfeather/yeti">Yeti</a>.
						|
						<cite>
							<a href="http://dlanham.com/art/castleking/"><em>King of the Castle</em></a>
							&copy; 2010 <a href="http://dlanham.com/">David Lanham</a>. Used with permission.
						</cite>
					</p>
				</div>
			</footer>
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="//www.google.com/jsapi"></script>
	<script src="script/jquery.tmpl.min.js"></script>
	<script src="script/yeti.js"></script>
	
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-4270246-5']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		}());
		
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		}());
		
		var uvOptions = {};
		(function() {
			var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
			uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://')
					+ 'widget.uservoice.com/3A0UAAmbW0w7gyEDcwJRIg.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		}());
	</script>
	
	<script src="//platform.twitter.com/widgets.js"></script>
	
	<!--[if lt IE 8 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
	
	<!--
		__  __     __  _ 
		\ \/ /__  / /_(_)
		 \  / _ \/ __/ / 
		 / /  __/ /_/ /  
		/_/\___/\__/_/   
		
		https://github.com/emberfeather/yeti
	-->
</body>
</html>
