<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Simple snowball debt calculator for illustrating faster debt repayment." />
	
	<title>Yeti: Start a Snowball Fight!</title>
	
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Convergence|Montez' type='text/css' />
	<link rel="stylesheet" href="style/reset.css" type='text/css' />
	<link rel="stylesheet" href="style/text.css" type='text/css' />
	<link rel="stylesheet" href="style/960.css" type='text/css' />
	<link rel="stylesheet/less" href="style/master.less" type="text/css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<script src="script/less.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="outer_container">
		<div class="container container_16">
			<section class="content">
				<div class="grid_16">
					<h1>{{ page.title }}</h1>
				</div>
				
				{{ content }}
			</section>
			
			<footer>
				<div class="grid_16">
					<p>
						All numbers shown are for illustration purposes only.
						If you want <strong><em>real</em></strong> financial advice, see a certified financial planner.
					</p>
					
					<p>
						<cite>
							<a href="http://dlanham.com/art/castleking/">King of the Castle</a>
							&copy; 2010 <a href="http://dlanham.com/">David Lanham</a>. Used with permission.
						</cite>
					</p>
				</div>
			</footer>
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="script/jquery.tmpl.min.js"></script>
	<script src="script/yeti.js"></script>
</body>
</html>
