@import '../mixins/breakpoints'
@import '../common/config'

*
  box-sizing: border-box

body
  background: $color-back
  color: $color-on-back
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased

  +md
    padding: 0 $pad

a
  color: $color-primary-dark

p
  margin: $pad/2

h1, h2, h3, h4, h5, h6
  color: $color-primary-dark
  margin: $pad $pad/2

h1
  font-family: $font-family-alt

.wrapper
  display: flex
  flex-flow: column
  margin: 0 auto
  min-height: 100vh
  max-width: $contained-width

.material-icons
  font-size: $font-size

.block__main
  flex-grow: 1

.yeti__help
  font-size: $font-size * .8
  opacity: .8

@import '../common/actions'
@import '../common/button'
@import '../common/card'
@import '../common/input'
@import '../common/modifiers'
@import '../../../partials/header/header'
@import '../../../partials/footer/footer'
