@import '../mixins/breakpoints'
@import '../common/config'

*
  box-sizing: border-box

body
  background: $color-secondary-light
  color: $color-on-secondary
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased

  +md
    padding: 0 $pad

  a
    color: $color-primary-dark

h1, h2, h3, h4, h5, h6
  color: $color-secondary
  font-family: $font-family-alt

input[type=text]
input[type=number]
  background: transparent
  border: none
  border-bottom: 2px solid $color-secondary-dark
  font-size: $font-size
  padding: 0 .25em .25em .25em

.wrapper
  display: flex
  min-height: 100vh
  flex-flow: column

.material-icons
  font-size: $font-size

.block__main
  flex-grow: 1

@import '../common/button'
@import '../common/modifiers'
@import '../../../partials/header/header'
@import '../../../partials/footer/footer'
